# Go
/main
/taraNote_go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
vendor/

# Node.js
node_modules/
npm-debug.log
yarn-error.log
public/build/
public/hot

# Environment
.env
.env.backup
.env.production

# Database
*.sqlite
*.db

# OS
.DS_Store
Thumbs.db
